<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>NOTA</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Show Input</div>
        <hr>
         <table border="1"
        <tr>
            <td><b>Nama Sayur</b></td>
            <td><b th:text="${name}"</b></td>
        </tr>
        
        <tr>
            <td><b>Harga Sayur</b></td>
            <td><b th:text="${price}"</b></td>
        </tr>
        
        <tr>
            <td><b>Jumlah Beli</b></td>
            <td><b th:text="${quantity}"</b></td>
        </tr>
         <tr>
            <td><b>Pembayaran Awal </b></td>
            <td><b th:text="${money}"</b></td>
        </tr>
        <tr>
            <td><b>Diskon </b></td>
            <td><b th:text="${diskon}"</b></td>
        </tr>
        <tr>
            <td><b>Total Diskon </b></td>
            <td><b th:text="${totalDiskon}"</b></td>
        </tr>
        <tr>
            <td><b>Total Harga </b></td>
            <td><b th:text="${total}"</b></td>
        </tr>
        <tr>
            <td><b>Total Bayar </b></td>
            <td><b th:text="${money}"</b></td>
        </tr>
            <tr>
            <td><b>keterangan </b></td>
            <td><b th:text="${ket}"</b></td>
       
        </tr>
    </body>
</html>
